In [2]:
# import pandas library
import pandas as pd

# create dataframe
sample_data = {'name': ['John', 'Alia', 'Anna', 'Monika', 'Sylwia'],
             'gender': ['M', 'F', 'F', 'F', 'F'],
             'communication_skill_score': [30, 40, 45, 50, 55],
             'quantitative_skill_score': [38, 41, 42, 48, 32]}
data = pd.DataFrame(sample_data, columns=['name', 'gender','communication_skill_score', 'quantitative_skill_score'])

# find mean of communication_skill_score column
data['communication_skill_score'].mean(axis=0)

44.0

In [8]:
# find mode of communication_skill_score column
data['communication_skill_score'].mode()

0    30
1    40
2    45
3    50
4    55
Name: communication_skill_score, dtype: int64

In [9]:
# find median of communication_skill_score column
data['communication_skill_score'].median()

45.0

In [11]:
# measuring dispersion
column_range=data['communication_skill_score'].max()-data['communication_skill_score'].min()
print(column_range)

25

In [12]:
# first Quartile
q1 = data['communication_skill_score'].quantile(.25)

# third Quartile
q3 = data['communication_skill_score'].quantile(.75)

# inter Quartile Ratio
iqr = q3 - q1
print(iqr)

10.0

In [13]:
# variance of communication_skill_score
data['communication_skill_score'].var()

92.5

In [14]:
# standard deviation of communication_skill_score
data['communication_skill_score'].std()

9.617692030835672

In [15]:
# discribe dataframe
data.describe()

       communication_skill_score  quantitative_skill_score
count                   5.000000                  5.000000
mean                   44.000000                 40.200000
std                     9.617692                  5.848077
min                    30.000000                 32.000000
25%                    40.000000                 38.000000
50%                    45.000000                 41.000000
75%                    50.000000                 42.000000
max                    55.000000                 48.000000

In [3]:
#skewness of communication_skill_score column
data['communication_skill_score'].skew()

-0.5901286563843656

In [4]:
# kurtosis of communication_skill_score column
data['communication_skill_score'].kurtosis()

-0.02191380569758916

In [5]:
# covariance between columns of dataframe
data.cov()

                           communication_skill_score  quantitative_skill_score
communication_skill_score                       92.5                      -3.5
quantitative_skill_score                        -3.5                      34.2

In [6]:
# correlation between columns of dataframe
data.corr(method='pearson')

                           communication_skill_score  quantitative_skill_score
communication_skill_score                   1.000000                 -0.062228
quantitative_skill_score                   -0.062228                  1.000000

In [10]:
##### Performing parametric tests #####
import numpy as np
from scipy.stats import ttest_1samp

# create data
data = np.array([63, 75, 84, 58, 52, 96, 63, 55, 76, 83])

# find mean
mean_value = np.mean(data)

print("Mean: ", mean_value)

Mean:  70.5

In [11]:
# perform one-sample t-test
t_test_value, p_value = ttest_1samp(data, 68)

print("P Value: ", p_value)

print("t-test Value: ", t_test_value)

# 0.05 or 5 % is significance level or alpha
if p_value < 0.05:
    print("Hipothesis Rejected")
else:
    print("Hipothesis Accepted")

P Value:  0.5986851106160134
t-test Value:  0.5454725779039431
Hipothesis Accepted

In [12]:
from scipy.stats import ttest_ind

# create numpy arrays
data1 = np.array([63, 75, 84, 58, 52, 96, 63, 55, 76, 83])

data2 = np.array([53, 43, 31, 113, 33, 57, 27, 23, 24, 43])

# compare samples
stat, p = ttest_ind(data1, data2)

print("p_value: ", p)

print("t_test: ", stat)

# 0.05 or 5 % is the significance level of alpha
if p < 0.05:
    print("Hypothesis Rejected")
else:
    print("Hypotesis Accepted")

p_value:  0.015170931362451255
t_test:  2.6835879913819185
Hypothesis Rejected

In [13]:
from scipy.stats import f_oneway

# performance scores of Mumbai location
mumbai = [0.14730927, 0.59168541, 0.85677052, 0.27315387, 0.78591207, 0.52426114, 
         0.05007655, 0.64405363, 0.9825853, 0.62667439]

# performance scores of Chicago location
chicago = [0.99140754, 0.76960782, 0.51370154, 0.85041028, 0.19485391, 0.25269917,
          0.19925735, 0.80048387, 0.98381235, 0.5864963]

# performace scores of London location
london = [0.40382226, 0.51613408, 0.39374473, 0.0689976, 0.28035865, 0.56326686,
         0.66735357, 0.06786065, 0.21013306, 0.86503358]

In [14]:
# compare results using Oneway ANOVA
stat, p = f_oneway(mumbai, chicago, london)

print("p-value:", p)

print("ANOVA:", stat)

if p < 0.05:
    print("Hypothesis Rejected")
else:
    print("Hypothesis Accepted")

p-value: 0.27667556390705783
ANOVA: 1.3480446381965452
Hypothesis Accepted

In [ ]:
#### Performing non-parametric tests ####

## next time