In [5]:
# import pandas library
import pandas as pd

# create dataframe
sample_data = {'name': ['John', 'Alia', 'Anna', 'Monika', 'Sylwia'],
             'gender': ['M', 'F', 'F', 'F', 'F'],
             'communication_skill_score': [30, 40, 45, 50, 55],
             'quantitative_skill_score': [38, 41, 42, 48, 32]}
data = pd.DataFrame(sample_data, columns=['name', 'gender','communication_skill_score', 'quantitative_skill_score'])

# find mean of communication_skill_score column
data['communication_skill_score'].mean(axis=0)

44.0

In [8]:
# find mode of communication_skill_score column
data['communication_skill_score'].mode()

0    30
1    40
2    45
3    50
4    55
Name: communication_skill_score, dtype: int64

In [9]:
# find median of communication_skill_score column
data['communication_skill_score'].median()

45.0

In [11]:
# measuring dispersion
column_range=data['communication_skill_score'].max()-data['communication_skill_score'].min()
print(column_range)

25

In [12]:
# first Quartile
q1 = data['communication_skill_score'].quantile(.25)

# third Quartile
q3 = data['communication_skill_score'].quantile(.75)

# inter Quartile Ratio
iqr = q3 - q1
print(iqr)

10.0

In [13]:
# variance of communication_skill_score
data['communication_skill_score'].var()

92.5

In [14]:
# standard deviation of communication_skill_score
data['communication_skill_score'].std()

9.617692030835672

In [15]:
# discribe dataframe
data.describe()

       communication_skill_score  quantitative_skill_score
count                   5.000000                  5.000000
mean                   44.000000                 40.200000
std                     9.617692                  5.848077
min                    30.000000                 32.000000
25%                    40.000000                 38.000000
50%                    45.000000                 41.000000
75%                    50.000000                 42.000000
max                    55.000000                 48.000000