In [1]:
# import pandas library
import pandas as pd

# create empty DataFrame
df = pd.DataFrame()

# header of dataframe
df.head()

Empty DataFrame
Columns: []
Index: []

In [2]:
# create dictionary of list
data = {'Name': ['Leszek', 'Pawel', 'Jan', 'Monika'], 
        'Age':[23, 24, 25, 26]}

# create the pandas DataFrame
df = pd.DataFrame(data)

# header of dataframe
df.head()

     Name  Age
0  Leszek   23
1   Pawel   24
2     Jan   25
3  Monika   26

In [4]:
# creating pandas series using Dictionary
dict1 = {0: 'Ajay', 1: 'Jay', 2: 'Vijay'}

# create Pandas Series
series = pd.Series(dict1)

# show series
series

0     Ajay
1      Jay
2    Vijay
dtype: object

In [5]:
# load Pandas and NumPy libraries
import pandas as pd
import numpy as np

# create NumPy array
arr = np.array([30, 40, 30, 40])

# create Pandas Series
series = pd.Series(arr)
series

0    30
1    40
2    30
3    40
dtype: int32

In [6]:
# create Pandas Series
series = pd.Series(10, index=[0, 1, 2, 3, 4, 5])
series

0    10
1    10
2    10
3    10
4    10
5    10
dtype: int64

In [7]:
# load data using read_csv()
df = pd.read_csv("WHO_first9cols.csv")

# show initial 5 records
df.head()

,Country,CountryID,Continent,Adolescent fertility rate (%),Adult literacy rate (%),Gross national income per capita (PPP international $),Net primary school enrolment ratio female (%),Net primary school enrolment ratio male (%),Population (in thousands) total
0,Afghanistan,1,1,151.0,28.0,NaN,NaN,NaN,26088.0
1,Albania,2,2,27.0,98.7,6000.0,93.0,94.0,3172.0
2,Algeria,3,3,6.0,69.9,5940.0,94.0,96.0,33351.0
3,Andorra,4,2,NaN,NaN,NaN,83.0,83.0,74.0
4,Angola,5,3,146.0,67.4,3890.0,49.0,51.0,16557.0

In [9]:
# select a series
country_series = df['Country']

# check datatype of series
type(country_series)

pandas.core.series.Series

In [10]:
# show the shape of DataFrame
print("Shape:", df.shape)

Shape: (202, 9)

In [11]:
# check the column list of DataFrame
print("List of Columns:", df.columns)

List of Columns: Index(['Country', 'CountryID', 'Continent', 'Adolescent fertility rate (%)',
       'Adult literacy rate (%)',
       'Gross national income per capita (PPP international $)',
       'Net primary school enrolment ratio female (%)',
       'Net primary school enrolment ratio male (%)',
       'Population (in thousands) total'],
      dtype='object')

In [12]:
# show the datatypes of columns
print("Data types: ", df.dtypes)

Data types:  Country                                                    object
CountryID                                                   int64
Continent                                                   int64
Adolescent fertility rate (%)                             float64
Adult literacy rate (%)                                   float64
Gross national income per capita (PPP international $)    float64
Net primary school enrolment ratio female (%)             float64
Net primary school enrolment ratio male (%)               float64
Population (in thousands) total                           float64
dtype: object

In [13]:
# Pandas Series Slicing
country_series[-5:]

197               Vietnam
198    West Bank and Gaza
199                 Yemen
200                Zambia
201              Zimbabwe
Name: Country, dtype: object